/*default styles reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*default styles reset*/

/*global*/
:root {
	--primary-color: hsl(255, 92%, 76%);
	--secondary-color: hsl(261, 73%, 12%);
	--ternary-color: hsl(250, 100%, 98%);
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: var(--system-ui);
}
body{
	display: grid;
	grid-template-columns: 1fr 4fr;
}
aside{
	grid-row: 1 / span 2;
}
/*global*/

/*aside*/
aside
.aside-header{
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	color: var(--ternary-color);
}
aside {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 40px;
	background-color: var(--secondary-color);
	padding: 30px 2vw 0 2vw;
}
aside ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 15px;
}
a {
	text-decoration: none;
	color: var(--ternary-color);
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.2rem;
}
aside img {
	filter: invert();
}
/*aside*/