/*default styles reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*default styles reset*/

/*global*/
:root {
	--primary-color: hsl(255, 92%, 76%);
	--secondary-color: hsl(261, 73%, 12%);
	--ternary-color: hsl(250, 100%, 98%);
	--shadow: rgba(100, 100, 100, 0.25) 0px 5px 10px 2px;
	--system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-family: var(--system-ui);
	box-sizing: border-box;
}
body{
	display: grid;
	grid-template-columns: 1fr 4fr;
}
aside{
	grid-row: 1 / span 2;
}
/*global*/

/*aside*/
aside
.aside-header{
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	color: var(--ternary-color);
}
aside {
	display: flex;
	flex-direction: column;
	gap: 40px;
	background-color: var(--secondary-color);
	padding: 30px 2vw 0 2vw;
}
aside h2{
	font-weight: 600;
}
aside ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 15px;
}
aside a {
	text-decoration: none;
	color: var(--ternary-color);
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.2rem;
}
aside a:hover{
	text-decoration:underline;
}
aside img {
	filter: invert();
}
/*aside*/

/*header*/
header{
	background-color: var(--ternary-color);
	padding: 10px 40px;
	font-size: 1.2rem;
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	gap: 10px;
}
header div{
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 10px;
}
.search-bar{
	background-color: var(--ternary-color);
	filter: brightness(92%);
	border-radius: 50px;
	width: 400px;
	border: none;
	height: 25px;
	margin-left: 10px;
	padding-left: 10px;
}
header .header-down{
	align-items: center;
}
header img{
	border-radius: 50px;
}
header button {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 20px;
	padding: 10px;
	width: 8vw;
	min-width: 50px;
	height: 30px;
	color: var(--ternary-color);
	font-size: 1rem;
	line-height: 6px;
	cursor: pointer;
}
.greeting{
	display: grid;
	grid-template-columns:auto auto;
	max-width: 500px;
	align-items: center;
	color: var(--secondary-color);
}
.greeting img{
	margin-right: 10px;
	grid-row: 1 / span 2;
}
.greeting p{
	align-self:self-end;
}
.greeting h2{
	align-self: self-start;
	font-size: 1.4rem;
	font-weight: bold;
}
.greeting h2 a {
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	margin-top: -10px;
}
.greeting>img{
	border: hsl(0, 0%, 90%) solid;
}
.greeting h2 a:hover{
	text-decoration:underline;
}
/*header*/

/*main*/
main {
	padding: 30px 20px;
	display: grid;
	grid-template-columns: 3fr 1fr;
}
main>h2 {
	font-size: 2rem;
}
.projects .cards-container {
	border: 20px;
	gap: 30px;	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.projects>h2{
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--secondary-color);
	margin-bottom: 25px;
}
.card{
	background-color: var(--ternary-color);
	border-left: 10px solid var(--primary-color);
	max-width: 330px;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 0;
	position: relative;
	transition: top ease 0.5s;
}
.card:hover{
	box-shadow: 0 0 8px 0.1px gray;
	top: -5px;
}
.card h2{
	font-weight: bold;
}
.card p {
	color: grey;
	line-height: 19.2px;
}
.card .actions{
	display: flex;
	gap: 10px;
	align-self: end;
}
.card .actions>svg{
	cursor: pointer;
}
.card .actions img:active,
svg:active{
	scale: 1.2;
	transition: 0.5;
}
/*main*/
